*{
  box-sizing: border-box;
}

body{
  background-color: #f8f8fb;
  color: #03050c;
  font-family: "Open Sans", sans-serif;
}
/*HEADER STYLES*/

header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 18px 0 18px 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  
}

header h1{
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 48px;
}

header h3{
  padding: 0;
  margin: 0;
}

header nav{
  padding: 10px 0 0 0;
  margin: 0;
}

header nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li{
  padding: 0 15px 0 0;
  font-weight: 400;
 
}

header nav ul li a{
  text-decoration: none;
  color: #03050c;
}










/*MAIN STYLES*/
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  
}

section div img{
  border: #03050c 1px solid;
  width: 100%;
}

section div p{
  text-align: justify;
}

/*.section-row-reverse{
  display: flex;
  flex-direction: row-reverse;
}*/

section h2{
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

section .section-column{
  flex-direction: column;
}



/*forms, links, buttons for contact section*/

section div form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

section div form > *{
  margin: 5px 0;
  }

section div form button{
  background-color: #03050c;
  color: #e4e4e5;
  border: #03050c 1px solid;
  width: 50px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

section div form text-area{
  margin: 0 0 20px 0;
}

section div a{
  text-decoration: none;
  color: #03050c;
}

section div form input[type=text]{
  color: #03050c;
  margin-bottom: 5px;
  font-size: 15px;
}

/*Styling for projects section*/
section div .card{
  align-items: flex-start;
  
}

section div .card ul li{
  list-style-type: square;
}

section div .card h3{
  font-family: "Oswald";
  font-weight: 400;
  text-align: center;
  font-size: 1.3em;
}

section div .project-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.1em;
  align-items: center;
}







/*End styling for projects section*/


footer{
  background-color: #03050c;
  color:#f8f8fb;
  padding: 0;
  margin: 0;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

section div .card:last-of-type{
  padding-bottom: 3%;
}










/*MEDIA QUERY*/

@media all and (min-width: 600px){
  section .section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  section >*{
    max-width: 800px;
  }

  header{
    flex-direction: row;
    justify-content: space-around;
    padding: 18px;
  }

  header nav ul li a:hover{
    color: #FFC300;
  }

  section div a:hover{
    color: #FFC300;
  }

  section div form button:first-of-type:hover{
    color: #FFC300;
  }


/*LAYOUT CHANGES*/
section .section{
  display: flex;
  flex-direction: row;
}
section div .info-sub{
  margin: 0 15px 0 0;
  align-self: flex-start;
}

section div .card{
  margin: 3%;
  align-items: flex-start;
}
section div .card:last-of-type{
    padding: 0;
  }

  section div .card{
    justify-content: space-between;
  }
}



 /*
 section:last-of-type{
    flex-direction: row;
    padding-bottom: 15px;
  
  
  
  WHEN I COME BACK FROM THE BREAK

  FIX PLACEHOLDERS
  SWITCH IMAGE TO OTHER SIDE
  CREATE FLEXBOX FOR FIRST SECTION
  WRITE FOR THE PROJECTS
  
  
  
  
  
  
  }
}